.header-main {
    color: white;
    width: 960px;
    height: 160px;
    margin: auto;
    position: relative;
}
.header-logo {
    position:absolute;
    cursor: pointer;
}
.header-right {
    width: 735px;
    height: 165px;
    position:relative;
    left: 225px;
    bottom: 5px;
}
.slogan {
    position: absolute;
    bottom: 5px;
    
}
.btnOrder {
    width: 153px;
    height: 38px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    cursor: pointer;
}
.btnTrackOrder {
    width: 177px;
    height: 38px;
    position: absolute;
    right: 303px;
    top: 35px;
    cursor: pointer;
}
.btnLogin {
    width: 118px;
    height: 38px;
    position: absolute;
    right: 180px;
    top: 35px;
    cursor: pointer;
}
.glow {
    position: absolute;
    top: 78px;
    left: 595px;
    z-index: -999;
}
.order {
    position: fixed;
    top: 0;
    right: 0;
    width: 153px;
    height: 72px;
    background: url(../../img/bg_order.png) no-repeat;
    color: #814131;
    font-size: 14px;
}
.btnorder {
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
}
.amountdiv {
    position: absolute;
    left: 10px;
    bottom: 13px;
}
.pricediv {
    position: absolute;
    right: 15px;
    bottom: 13px;
}
.amount, .price {
    font-weight: bold;
    color: #CE362E;
}
