.mainbg {
    width: 100%;
    background-color: #f9e8c4;
    padding: 10px 0 10px 0;
}
.main-container {
    width: 960px;
    margin: auto;
    display: flex;
}
.main-container.pad {
    padding-top: 40px;
}