.trackOrderHeader {
    height: 55px;
    background: url('http://savonapizza.pl/public/_savona/image/template/menu_header.png') no-repeat scroll 0 0 transparent;
    color: #FFF;
    line-height: 50px;
    text-indent: 21px;
    width: 735px;
}
.trackOrderTitle {
    font-size: 28px;
    font-family: serif;
    opacity: 0.9;
}
.trackOrderContent {
    background-color: #fff;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    width: 705px;
}
.trackOrderContent form {
    display: flex
}
.trackOrderTel {
    margin: 3px;
    font-size: 12px;
}
.trackOrderBtn {
    background: url('http://savonapizza.pl/public/_savona/image/button/buttons_pack.png') no-repeat;
    background-position: 0px -168px;
    height: 30px;
    width: 71px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
/* .formInput.xd {
    display: inline-block
} */
