body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 11px;
  font-family: Tahoma, sans-serif;
  color: #671f1a;
  background-image: url(img/bg.png);
  background-repeat: repeat-x;
  background-color: #f9e8c4;
  /* background: url(img/bg.png) repeat-x 0 0 #f9e8c4; */
}

